.env
Art_of_RAG_Evaluation_LangChain_&_Ragas.ipynb
ballad/vectordb/parent_large/chroma.sqlite3
ballad/vectordb/parent/chroma.sqlite3
ballad/vectordb/parent_small/chroma.sqlite3
news/vectordb/parent_large_summary/chroma.sqlite3
news/vectordb/parent_summary/chroma.sqlite3
news/vectordb/parent_small_summary/chroma.sqlite3
ballad/vectordb/parent_large_summary/*
ballad/vectordb/*
vectordb/*
news/vectordb/*
news/vectordb/parent/chroma.sqlite3
news/vectordb/parent_large/chroma.sqlite3
news/vectordb/parent_small/chroma.sqlite3
ballad/vectordb/parent_large/chroma.sqlite3
ballad/vectordb/parent_large_summary/chroma.sqlite3
ballad/vectordb/parent_small/chroma.sqlite3
ballad/vectordb/parent_small_summary/chroma.sqlite3
ballad/vectordb/parent_summary/chroma.sqlite3
ballad/vectordb/parent_small_summary/b322c5b8-6b74-4b04-b248-2497ae2ac96c/data_level0.bin
papers/vectordb/*
vectordb/naive/*vectordb/naive/d1dfe2f0-e972-45e9-8856-47b63345c4cd/length.bin
news/vectordb-edit/*
vectordb-edit/*
ballad/vectordb-edit/*